body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fdf6e3; /* Solarized Light background */
    color: #657b83; /* Solarized base text color */
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #eee8d5; /* Slightly darker background for contrast */
    border: 1px solid #93a1a1; /* Solarized base1 for border */
    border-radius: 5px;
}

header h1 {
    margin: 0 0 20px 0;
    color: #586e75; /* Solarized base01 for headers */
}

header p {
    margin: 0 0 20px 0;
    color: #839496; /* Solarized base0 for text */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for a balanced layout */
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.button {
    padding: 10px 0;
    border: 2px solid #93a1a1; /* Solarized base1 for button borders */
    color: #657b83; /* Solarized base text color */
    text-decoration: none;
    background-color: #fdf6e3; /* Solarized Light background */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #eee8d5; /* Slightly darker background for hover */
    color: #586e75; /* Darker text color for contrast */
    border-color: #586e75; /* Darker border on hover */
}
